.styling {
    
        
        background-image: url('../assets/background.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
}